name: Release

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    name: semantic-release
    runs-on: ubuntu-latest
    if: github.repository_owner == 'houstonj1'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Release
        uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62 # v5.0.2
        with:
          # You can specify specifying version range for the extra plugins if you prefer.
          extra_plugins: |
            @semantic-release/git@10.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
