name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Run Tests
        run: yarn test
